@import url("//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book");
.lateral-menu {
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
}

.lateral-menu .top {
  width: 100%;
}

.lateral-menu .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.lateral-menu .top .logo svg {
  cursor: pointer;
  fill: white;
}

.lateral-menu .top .options {
  padding: 0.3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0rem;
  margin: 0.5rem 0;
  width: 100%;
}

.lateral-menu .top .options .option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 9fr;
      grid-template-columns: 2fr 9fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: #8c8c8c;
  fill: #8c8c8c;
  width: 100%;
  padding: 0.1rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.lateral-menu .top .options .option:hover {
  color: white;
  fill: white;
}

.lateral-menu .top .options .option i,
.lateral-menu .top .options .option img,
.lateral-menu .top .options .option svg {
  width: 100%;
}

.lateral-menu .top .options .option p {
  font-weight: bold;
  width: 100%;
}

.lateral-menu .top .options .option {
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.lateral-menu .top .options .option i {
  font-size: 1.3rem;
}

.lateral-menu .top .options .active {
  background-color: #fff1;
  color: white;
  fill: white;
}

.lateral-menu .bottom {
  position: absolute;
  bottom: 1.5rem;
  margin: 0 1.5rem;
}

.lateral-menu .bottom p {
  padding: 0;
  color: #a6a6a6;
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .lateral-menu .bottom p {
    font-size: 0.72rem;
  }
}

.lateral-menu .bottom p:hover {
  text-decoration: underline;
}

.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.listing .listing-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.listing .listing-header .heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.listing .listing-header .heading h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .listing .listing-header .heading h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing .listing-header .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing .listing-header .heading h3 {
    font-size: 1.2rem;
  }
}

.listing .listing-header .heading h3:hover {
  text-decoration: underline;
}

.listing .listing-header .heading p {
  font-size: 1rem;
  color: #b3b3b3;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .listing .listing-header .heading p {
    font-size: 0.9rem;
  }
}

.listing .listing-header .view-more {
  position: absolute;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 1.2rem;
  right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .listing .listing-header .view-more {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing .listing-header .view-more {
    font-size: 0.96rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing .listing-header .view-more {
    font-size: 0.72rem;
  }
}

.listing .listing-header .view-more:hover {
  text-decoration: underline;
}

.listing .listing-cards {
  width: 100%;
  overflow: hidden;
  height: 17rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

@media screen and (max-width: 1920px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1700px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .listing .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

.listing .listing-cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.listing .listing-cards > div .card {
  cursor: pointer;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  height: 16rem;
  width: 100%;
  color: white;
  padding: 1rem;
  background-color: rgba(38, 38, 38, 0.25);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.listing .listing-cards > div .card .img-container {
  -webkit-filter: drop-shadow(0 0 0.7rem #0009);
          filter: drop-shadow(0 0 0.7rem #0009);
  -webkit-transform: translateZ(0.8rem);
          transform: translateZ(0.8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  overflow: hidden;
  height: auto;
  width: 100%;
}

.listing .listing-cards > div .card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.listing .listing-cards > div .card .img-container i {
  font-size: 7rem;
}

.listing .listing-cards > div .card .texts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

.listing .listing-cards > div .card .texts-container p {
  margin: 0;
}

.listing .listing-cards > div .card .texts-container .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.listing .listing-cards > div .card .texts-container .details {
  color: #b3b3b3;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.listing .listing-cards > div .card .play {
  -webkit-transition: bottom 0.3s, opacity 0.3s, -webkit-transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, -webkit-transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, transform 0.1s, -webkit-transform 0.1s;
  position: absolute;
  bottom: 33%;
  opacity: 0;
  right: 12%;
  padding: 0.8rem;
  background-color: #0c5;
  border-radius: 30rem;
}

.listing .listing-cards > div .card .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.listing .listing-cards > div .card .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.listing .listing-cards > div .card .close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.listing .listing-cards > div .card:hover {
  background-color: rgba(77, 77, 77, 0.3);
}

.listing .listing-cards > div .card:hover .play {
  bottom: 37%;
  opacity: 1;
}

.listing-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.listing-round .listing-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.listing-round .listing-header .heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.listing-round .listing-header .heading h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .listing-round .listing-header .heading h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-round .listing-header .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-round .listing-header .heading h3 {
    font-size: 1.2rem;
  }
}

.listing-round .listing-header .heading h3:hover {
  text-decoration: underline;
}

.listing-round .listing-header .heading p {
  font-size: 1rem;
  color: #b3b3b3;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .listing-round .listing-header .heading p {
    font-size: 0.9rem;
  }
}

.listing-round .listing-header .view-more {
  position: absolute;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 1.2rem;
  right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .listing-round .listing-header .view-more {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-round .listing-header .view-more {
    font-size: 0.96rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-round .listing-header .view-more {
    font-size: 0.72rem;
  }
}

.listing-round .listing-header .view-more:hover {
  text-decoration: underline;
}

.listing-round .listing-cards {
  width: 100%;
  overflow: hidden;
  height: 18rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

@media screen and (max-width: 1920px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1700px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .listing-round .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

.listing-round .listing-cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.listing-round .listing-cards > div .card {
  cursor: pointer;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  height: #fff;
  width: 100%;
  color: white;
  padding: 1.5rem;
  background-color: rgba(38, 38, 38, 0.25);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 13rem;
  height: auto;
}

.listing-round .listing-cards > div .card .img-container {
  -webkit-filter: drop-shadow(0 0 0.7rem #0009);
          filter: drop-shadow(0 0 0.7rem #0009);
  -webkit-transform: translateZ(0.8rem);
          transform: translateZ(0.8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  overflow: hidden;
  height: auto;
  width: 100%;
}

.listing-round .listing-cards > div .card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.listing-round .listing-cards > div .card .img-container i {
  font-size: 7rem;
}

.listing-round .listing-cards > div .card .texts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
}

.listing-round .listing-cards > div .card .texts-container p {
  margin: 0;
}

.listing-round .listing-cards > div .card .texts-container .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.listing-round .listing-cards > div .card .texts-container .details {
  color: #b3b3b3;
  font-size: 0.72rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.listing-round .listing-cards > div .card .play {
  -webkit-transition: bottom 0.3s, opacity 0.3s, -webkit-transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, -webkit-transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, transform 0.1s;
  transition: bottom 0.3s, opacity 0.3s, transform 0.1s, -webkit-transform 0.1s;
  position: absolute;
  bottom: 33%;
  opacity: 0;
  right: 12%;
  padding: 0.8rem;
  background-color: #0c5;
  border-radius: 30rem;
}

.listing-round .listing-cards > div .card .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.listing-round .listing-cards > div .card .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.listing-round .listing-cards > div .card .close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.listing-round .listing-cards > div .card:hover {
  background-color: rgba(77, 77, 77, 0.3);
}

.listing-round .listing-cards > div .card:hover .play {
  bottom: 37%;
  opacity: 1;
}

.listing-round .listing-cards > div .card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border-radius: 200rem;
  width: 9.75rem;
  height: 9.75rem;
  background-color: white;
}

.listing-round .listing-cards > div .card .texts-container {
  width: 100%;
}

.listing-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.listing-theme .listing-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  position: relative;
}

.listing-theme .listing-header .heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.listing-theme .listing-header .heading h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .listing-theme .listing-header .heading h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-theme .listing-header .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-theme .listing-header .heading h3 {
    font-size: 1.2rem;
  }
}

.listing-theme .listing-header .heading h3:hover {
  text-decoration: underline;
}

.listing-theme .listing-header .heading p {
  font-size: 1rem;
  color: #b3b3b3;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .listing-theme .listing-header .heading p {
    font-size: 0.9rem;
  }
}

.listing-theme .listing-header .view-more {
  position: absolute;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 1.2rem;
  right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .listing-theme .listing-header .view-more {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-theme .listing-header .view-more {
    font-size: 0.96rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-theme .listing-header .view-more {
    font-size: 0.72rem;
  }
}

.listing-theme .listing-header .view-more:hover {
  text-decoration: underline;
}

.listing-theme .listing-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1700px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .listing-theme .listing-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 1rem;
  }
}

.listing-theme .listing-cards .theme {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #5d44cc;
  position: relative;
  overflow: hidden;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.listing-theme .listing-cards .theme p {
  position: relative;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

.listing-theme .listing-cards .theme img {
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: -0.6rem;
  right: -0.7rem;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 0 0 0.5rem #0006;
          box-shadow: 0 0 0.5rem #0006;
}

.footer {
  background-color: black;
  padding: 2rem 0 0 0;
}

.footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.footer .top .links-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  grid-gap: 5.625rem;
}

.footer .top .links-grid li {
  list-style-type: none;
}

.footer .top .links-grid > li {
  font-size: 1rem;
  margin: 1rem 0;
  color: #b3b3b3;
}

@media screen and (max-width: 1200px) {
  .footer .top .links-grid > li {
    font-size: 0.9rem;
  }
}

.footer .top .links-grid > li ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.footer .top .links-grid > li ul > li {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: white;
  fill: white;
}

.footer .top .links-grid > li ul > li:hover {
  color: #1ed760;
  fill: #1ed760;
}

@media screen and (max-width: 1024px) {
  .footer .top .links-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0rem;
  }
}

.footer .top .icons {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.footer .top .icons i {
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 1.5rem;
  border-radius: 50%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: white;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .top .icons i:hover {
  color: #1ed760;
  fill: #1ed760;
}

@media screen and (max-width: 1024px) {
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
}

.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}

.footer .bottom > div {
  --copy-size: 200px;
}

.footer .bottom > div:nth-child(1) {
  width: calc(100% - var(--copy-size));
}

.footer .bottom > div:nth-child(2) {
  width: var(--copy-size);
}

.footer .bottom .abouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .bottom .abouts p {
  padding: 0;
  margin: 0rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: #a6a6a6;
  fill: #a6a6a6;
  font-size: 0.8rem;
}

.footer .bottom .abouts p:hover {
  color: #1ed760;
  fill: #1ed760;
}

@media screen and (max-width: 1200px) {
  .footer .bottom .abouts p {
    font-size: 0.72rem;
  }
}

.footer .bottom .copyrights {
  color: #a6a6a6;
  font-size: 0.8rem;
  text-align: right;
}

.listing .listing-cards > div .card .close, .listing-round .listing-cards > div .card .close, .nav .arrows i, .nav .right .permanent-button i {
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  color: white;
  fill: white;
  background-color: #000d;
}

.listing .listing-cards > div .card .close:hover, .listing-round .listing-cards > div .card .close:hover, .nav .arrows i:hover, .nav .right .permanent-button i:hover {
  color: white;
  fill: white;
}

.nav .right .links li, .nav .right .permanent-button .sign-up {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.nav .right .links li:hover, .nav .right .permanent-button .sign-up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: #000b;
  padding: 1rem;
  height: 4rem;
}

.nav .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .nav .arrows i:nth-child(2) {
    display: none;
  }
}

.nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.nav .right .links {
  list-style-type: none;
  border-right: 1px solid white;
  padding-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 1600px) {
  .nav .right .links {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav .right .links {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav .right .links {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav .right .links {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s, top 0.3s;
    transition: opacity 0.3s, top 0.3s;
    position: fixed;
    right: 0;
    top: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0rem;
    background-color: #222;
    border: #0005 1px solid;
    border-radius: 0.2rem;
    padding: 0.5rem 1.5rem 0.3rem 1.5rem;
  }
  .nav .right .links li {
    font-size: 0.8rem;
    padding: 0.2rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    color: #bbb;
    fill: #bbb;
  }
  .nav .right .links li:hover {
    color: #ddd;
    fill: #ddd;
  }
  .nav .right .links li:hover {
    text-decoration: underline;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav .right .permanent-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.nav .right .permanent-button .button {
  width: auto;
  padding: 0.6rem 2rem;
  text-align: center;
  display: block;
  letter-spacing: 0.15rem;
  font-weight: bold;
  color: black;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  border-radius: 5rem;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .nav .right .permanent-button .button {
    font-size: 0.72rem;
  }
}

.nav .right .permanent-button i {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav .right .permanent-button i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav .right .visible {
  top: 2.5rem;
  opacity: 1;
  pointer-events: initial;
}

.list-sound {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  height: 3rem;
}

.list-sound .img-container {
  height: 90%;
}

.list-sound .img-container img {
  aspect-ratio: 1/1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-sound .song-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.2rem;
}

.list-sound .song-inf p {
  margin: 0;
}

.list-sound .song-inf p:nth-child(1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.list-sound .song-inf p:nth-child(2) {
  font-size: 0.8em;
  color: #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.list-sound .song-inf p i {
  background-color: #bfbfbf;
  padding: 0.1em 0.2em;
  color: black;
  border-radius: 2px;
}

.sound-table {
  width: 100%;
  padding: 0 2rem;
  color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.sound-table tr {
  border-radius: 3px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5rem 10fr 8fr 5fr 4fr;
      grid-template-columns: 1.5rem 10fr 8fr 5fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
  width: 100%;
  padding: 0 1rem;
}

.sound-table tr:nth-child(1) {
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #666666;
}

.sound-table tr:nth-child(1) td:nth-child(5) {
  display: block;
}

.sound-table tr:nth-child(1) td:nth-child(5) i {
  color: #bfbfbf;
}

.sound-table tr:nth-child(1):hover {
  background-color: #0000;
}

.sound-table tr td {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.sound-table tr td:nth-child(1) i {
  font-size: 0.8rem;
}

.sound-table tr td:nth-child(5) {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.sound-table tr td:nth-child(5) div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5rem 2.5rem;
      grid-template-columns: 0.5rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

.sound-table tr td:nth-child(5) div i {
  color: #1d5;
}

@media screen and (max-width: 1050px) {
  .sound-table tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5rem 10fr 8fr 4fr;
        grid-template-columns: 1.5rem 10fr 8fr 4fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 2rem;
  }
  .sound-table tr td:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .sound-table tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5rem 10fr 4fr;
        grid-template-columns: 1.5rem 10fr 4fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 2rem;
  }
  .sound-table tr td:nth-child(3) {
    display: none;
  }
}

.sound-table tr:hover {
  background-color: #ccc2;
}

.music-player-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  font-size: 14px;
}

.music-player {
  height: 6.5rem;
  background-color: #1c1c1c;
  padding: 1rem;
  width: 100%;
  --main-color: #eee;
  --secondary-color: #999;
  --bar-color: #9997;
  --green-color: #2d6;
  color: var(--main-color);
}

.music-player .music-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.music-player .music-info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.music-player .music-info .image-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  --size: 4em;
  width: var(--size);
  height: var(--size);
}

.music-player .music-info .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-player .music-info .sound-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music-player .music-info .sound-info p {
  margin: 0;
}

.music-player .music-info .sound-info .artist {
  font-size: 0.8em;
  color: var(--secondary-color);
}

.music-player .music-info .first-icons {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
}

.music-player .control-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85%;
}

.music-player .control-board .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
}

.music-player .control-board .buttons .play-pause {
  padding: 0.8em;
  background-color: var(--main-color);
  color: #000;
  border-radius: 50%;
}

.music-player .control-board .progress-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6em;
  width: 100%;
}

.music-player .control-board .progress-part .progress-bar {
  width: 60%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--bar-color);
}

.music-player .control-board .progress-part .progress-bar:hover div {
  background-color: var(--green-color);
}

.music-player .control-board .progress-part .progress-bar:hover div::after {
  --size: 0.8em;
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: translate(50%, calc(2px - 50%));
          transform: translate(50%, calc(2px - 50%));
  width: var(--size);
  height: var(--size);
  background-color: var(--main-color);
  border-radius: 5em;
}

.music-player .control-board .progress-part .progress-bar div {
  border-radius: 15px;
  position: relative;
  width: 0%;
  height: 100%;
  background-color: var(--secondary-color);
}

.music-player .control-board .progress-part span {
  color: var(--secondary-color);
  font-size: 0.9em;
}

.music-player .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5em;
}

.music-player .right-side .volume-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
}

.music-player .right-side .volume-board .volume-bar {
  width: 6.5em;
  height: 4px;
  background-color: var(--bar-color);
  border-radius: 15px;
}

.music-player .right-side .volume-board .volume-bar:hover div {
  background-color: var(--green-color);
}

.music-player .right-side .volume-board .volume-bar:hover div::after {
  --size: 0.8em;
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: translate(50%, calc(2px - 50%));
          transform: translate(50%, calc(2px - 50%));
  width: var(--size);
  height: var(--size);
  background-color: var(--main-color);
  border-radius: 5em;
}

.music-player .right-side .volume-board .volume-bar div {
  border-radius: 15px;
  position: relative;
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
}

.music-player i {
  color: var(--secondary-color);
  font-size: 1em;
}

.music-player i:hover {
  color: var(--main-color);
}

.music-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.music-player .music-info {
  position: absolute;
  left: 1em;
  width: 28%;
}

.music-player .control-board {
  width: 57%;
}

.music-player .right-side {
  position: absolute;
  right: 1em;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(143, 143, 143, 0.274);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

.nav .arrows i:nth-child(2) {
  opacity: 0.6;
}

.heading-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  padding: 6rem 1rem 1rem 2rem;
  margin: 0;
  color: white;
  width: 100%;
  margin: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#777+0,222+100 */
  background: #777;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#222));
  background: linear-gradient(to bottom, #777 0%, #222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777', endColorstr='#222',GradientType=0 );
  /* IE6-9 */
}

.heading-block p {
  margin: 0;
}

.heading-block .image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  --dims: 12rem;
  width: var(--dims);
  height: var(--dims);
  font-size: var(--dims);
  -webkit-box-shadow: 0 0 5rem #0008, 0 0 7rem #0006;
          box-shadow: 0 0 5rem #0008, 0 0 7rem #0006;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.heading-block .image i {
  font-size: 0.3em;
}

@media screen and (max-width: 1024px) {
  .heading-block .image {
    --dims: 10rem;
  }
}

.heading-block .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.heading-block .right h1 {
  font-size: 6rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .heading-block .right h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 820px) {
  .heading-block .right h1 {
    font-size: 3.5rem;
  }
}

.heading-block .right p {
  font-size: .9rem;
  font-weight: bold;
}

.heading-block .right p .titles {
  font-weight: lighter;
  color: #cccccc;
}

.heading-block .right h1 {
  cursor: pointer;
  font-size: 5rem;
}

@media screen and (max-width: 980px) {
  .heading-block .right h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 820px) {
  .heading-block .right h1 {
    font-size: 2.5rem;
  }
}

.heading-block .image {
  background: #2a2a2a;
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.side article {
  margin: 0 !important;
}

.side article:nth-child(1) {
  margin: 0;
  padding: 0;
}

.side article section {
  margin: 0 !important;
}

.side article .buttons {
  margin: 0;
  padding: 0 1rem;
}

.side article .buttons i {
  color: #bbb;
  font-size: 1rem;
}

.side article .buttons i:hover {
  color: #fff;
}

.nav {
  background-color: #0000;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: white;
}

.search-box p,
.search-box h2 {
  margin: 0;
  padding: 0.5rem;
}

.search-box h2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .search-box h2 {
    font-size: 1.2rem;
  }
}

.search-box .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  background-color: black;
  padding: 0.3rem 0.7rem;
  background-color: #222;
}

.search-box .search-bar i,
.search-box .search-bar input {
  color: white;
  margin: 0;
  background-color: black;
  padding: 0;
}

.search-box .search-bar i {
  font-size: 1.3rem;
}

.search-box .search-bar input {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
}

.search-box .search-bar input:placeholder-shown + i {
  visibility: hidden;
  pointer-events: none;
}

.search-box .search-bar input:not(:placeholder-shown) + i {
  visibility: visible;
  pointer-events: auto;
}

.search-box .search-bar input,
.search-box .search-bar i {
  background-color: #222;
}

.search-box .search-bar input {
  padding: 0.5rem;
}

.modal-window {
  background-color: #222;
  color: white;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
  width: 30rem;
  display: none;
  z-index: 2;
}

.modal-window > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  padding: 1rem;
  grid-gap: 1rem;
}

.modal-window > div > div {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-color: #2a2a2a;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  aspect-ratio: 1/1;
}

.modal-window > div > div i:nth-child(1) {
  font-size: 3rem;
}

.modal-window > div > div i:nth-child(2) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem;
  background-color: #1115;
  border-radius: 50%;
}

.modal-window > div input,
.modal-window > div textarea {
  width: 100%;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: white;
  resize: none;
}

.modal-window > div input {
  font-weight: bold;
}

.modal-window p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.modal-window .save-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.modal-window .save-button .button {
  width: auto;
  padding: 1rem;
  text-align: center;
  display: block;
  letter-spacing: 0rem;
  font-weight: bold;
  color: black;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.modal-window .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.visible {
  display: block;
}

.blured article,
.blured nav,
.blured main {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  pointer-events: none;
}
/*# sourceMappingURL=playlist-stylesheet.css.map */