.music-player-container {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    font-size: 14px;
}

.music-player {
    height: 6.5rem;
    background-color: #1c1c1c;
    padding: 1rem;
    width: 100%;
    --main-color: #eee;
    --secondary-color: #999;
    --bar-color: #9997;
    --green-color: #2d6;
    color: var(--main-color);
    .music-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        justify-content: flex-start;
        p {
            @include line-clamp;
        }
        .image-container {
            flex-shrink: 0;
            --size: 4em;
            width: var(--size);
            height: var(--size);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .sound-info {
            // flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin: 0;
            }
            .artist {
                font-size: 0.8em;
                color: var(--secondary-color);
            }
        }
        .first-icons {
            margin: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 1em;
        }
    }
    .control-board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 85%;
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5em;
            .play-pause {
                padding: 0.8em;
                background-color: var(--main-color);
                color: #000;
                border-radius: 50%;
            }
        }
        .progress-part {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.6em;
            width: 100%;
            .progress-bar {
                width: 60%;
                height: 4px;
                border-radius: 4px;
                background-color: var(--bar-color);
                &:hover {
                    div {
                        background-color: var(--green-color);
                        &::after {
                            --size: 0.8em;
                            content: "";
                            position: absolute;
                            right: 0;
                            transform: translate(50%, calc(2px - 50%));
                            width: var(--size);
                            height: var(--size);
                            background-color: var(--main-color);
                            border-radius: 5em;
                        }
                    }
                }
                div {
                    border-radius: 15px;
                    position: relative;
                    width: 0%;
                    height: 100%;
                    background-color: var(--secondary-color);
                }
            }
            span {
                color: var(--secondary-color);
                font-size: 0.9em;
            }
        }
    }
    .right-side {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        .volume-board {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.8em;
            .volume-bar {
                width: 6.5em;
                height: 4px;
                background-color: var(--bar-color);
                border-radius: 15px;
                &:hover {
                    div {
                        background-color: var(--green-color);
                        &::after {
                            --size: 0.8em;
                            content: "";
                            position: absolute;
                            right: 0;
                            transform: translate(50%, calc(2px - 50%));
                            width: var(--size);
                            height: var(--size);
                            background-color: var(--main-color);
                            border-radius: 5em;
                        }
                    }
                }
                div {
                    border-radius: 15px;
                    position: relative;
                    width: 30%;
                    height: 100%;
                    background-color: var(--secondary-color);
                }
            }
        }
    }
    i {
        color: var(--secondary-color);
        font-size: 1em;
        &:hover {
            color: var(--main-color);
        }
    }
}

.music-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    .music-info {
        position: absolute;
        left: 1em;
        width: 28%;
    }
    .control-board {
        width: 57%;
    }
    .right-side {
        position: absolute;
        right: 1em;
    }
}
